[submodule "libs/sds"]
	path = libs/sds
	url = https://github.com/antirez/sds
[submodule "libs/log"]
	path = libs/log
	url = mygit:djh/clog
[submodule "libs/macro"]
	path = libs/macro
	url = mygit:djh/cmacro

